body {
 background-color: SkyBlue;
 
}


h1 {
 font-family: Arial;
 text-align: center;
}

form {
    font-family: Arial;
    text-align: center;
}



#formContents {
    text-align: center;
    font-family: Garamond;
}